{% extends 'main.html' %}


{% block content %}

<form method="post">

    <table style="padding: 20px; border-width: 0px;">
        <tr>
            <td>SCM Type</td>
            <td>
                <select name="">
                    <option value="none">None</option>
                    <option value="GIT">Git</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>SQLite DB Path</td>
            <td><input type="text" name="sqlite_path" /></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>

{% if not scm_is_setup and scm_can_setup %}
<form method="post">
    <input type="hidden" name="action" value="scm_setup" />
    <input type="submit" value="Setup SCM" />
</form>
{% endif %}

<form method="post">
    <input type="hidden" name="action" value="indexer_reindex" />
    <input type="submit" value="Reindex" />
</form>


{% endblock %}