

<html>
<head>

<style>
pre {
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    min-width: 100px;

    background-color: #ddd;
    max-width: 80%;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: scroll;
    overflow-wrap: all;
}
#content {
    padding: 50px;
    padding-left: 0px;
}
#wiki_content {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    padding: 5px;
}
</style>

</head>

<body>

<div id="content">
{% block content %}{% endblock %}
</div>
</body>

</html>