{% extends 'main.html' %}

{% block content %}

{{ wiki.breadcrumb_html | safe }}

{% if not wiki.exists %}
<h3>This page does not exist</h3>

{% endif %}



<form action="{{ wiki.absolute_url }}" method="POST">
    <textarea id="wiki_editor" name="source" rows=20 cols=100>{{wiki.source | safe}}</textarea>
    <br />
    <br />
    <input class="inputButton" type="submit" value="{% if wiki.exists %}Save{% else %}Create{% endif %}" />
</form>

{% if wiki.exists %}
<form action="{{ wiki.absolute_url }}" method="GET">
    <input class="inputButton" type="submit" value="Cancel" />
</form>
{% endif %}

{% endblock %}